{% extends 'base.html' %}


{% block title %}
About us
{% endblock %}


{% block content %}
<br>
    <div class="d-flex justify-content-center">
        <div class="p-2 mb-1 bg-light text-dark" style='border-radius: 15px;'><div class="display-5 text-center text-light" style="background: rgb(1, 1, 9); background: linear-gradient(5deg, rgba(1, 1, 9, 1) 0%, rgba(33, 185, 103, 1) 100%); border-radius: 15px;">YourArticlesHub</div><br> <div class="text-center">Is the place where knowledge, ideas and passion for discussion come together. <b>Create</b>, <b>share</b>, <b>discuss</b> and get inspired with us.</div><br><h3 class="text-center">Main functions:</h3><div>1.<b>Creation and publication of articles:</b><br>
            Registered users can create and publish articles on free topics. Thanks to the intuitive interface and article editor,<br>the process of creating content becomes easy and enjoyable.</div><br>
            <div><b>2.Review of articles:</b><br>Users can browse through articles sorted by various categories and keywords to find the ones that interest them.</div><br><div>3.<b>Likes and comments:</b><br>
            The ability to put likes allows you to express approval or interest in the article. Also, users can leave comments under the articles,<br>initiating discussion and interaction.</div><br><div>4.<b>User profiles:</b><br>
            Each registered user has his own unique profile where he can display his publications, received likes, comments and other activity.</div><br><div>5.<b>Recommendation settings:</b><br>
            Users can customize their recommendations by choosing topics and keywords of interest.<br>This allows you to personalize your news feed and review articles.</div><br><div>6.<b>Community and Engagement:</b>
            <div class="text-decoration-underline">YourArticlesHub</div> promotes a community of like-minded people by providing a platform for communication,<br>exchange of opinions and scientific knowledge.</div><br><div>7.<b>Moderation and security:</b><br>
            Moderation mechanisms and feedback systems are used to maintain the quality of content and prevent objectionable material.</div><br>
        </div>
    </div>
<br>
{% endblock %}