<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="user" data-id="1234567890" data-user="carinaanand" data-date-of-birth>
  Carina Anand
</div>
</body>
<script>
    const el = document.querySelector("#user");

    // el.id === 'user'
    // el.dataset.id === '1234567890'
    // el.dataset.user === 'carinaanand'
    // el.dataset.dateOfBirth === ''

    // set a data attribute
    el.dataset.dateOfBirth = "1960-10-03";
    // Result on JS: el.dataset.dateOfBirth === '1960-10-03'
    // Result on HTML: <div id="user" data-id="1234567890" data-user="carinaanand" data-date-of-birth="1960-10-03">Carina Anand</div>

</script>
</html>